@model OrderListModelAdmin
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="col-md-12 mb-4 mt-3 ml-1">
    <h2 class="mb-4 ml-1">
        Orders        
    </h2>

    @if (Model.Orders.Count > 0)
    {
        <table id="tbl10" class="table table-bordered table-striped mt-3">
            <thead>
                <tr>
                    <th style="width:30px">Make it Passive</th>
                    <th>Order Number</th>
                    <th>Order Date</th>
                    <th>Customer Name</th>
                    <th>Address</th>
                    <th>Phone</th>
                    <th>Cargo</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var x in Model.Orders)
                {
                    <tr>
                        <td><a href="/Order/Delete/@x.Id" class="text-danger" data-toggle="tooltip" data-placement="top" title="Passive" onclick="return confirm('Are you sure you want to passive it?')"><strong>Passive</strong></a></td>
                        <td>@x.OrderNumber</td>
                        <td>@x.OrderDate.ToString("dd/MM/yyyy")</td>
                        <td>@x.FirstName @x.LastName</td>
                        <td>@x.Address/@x.City</td>
                        <td>@x.Phone</td>
                        <td><a href="/Order/OrderDetails/@x.Id" class="btn btn-primary">Cargo</a></td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <div class="alert alert-warning ">
            <h4>NO ORDERS</h4>
        </div>
    }
</div>

<link href="~/Content/bootstrap.css" rel="stylesheet" />
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<link href="https://cdn.datatables.net/1.10.15/css/dataTables.bootstrap.min.css" rel="stylesheet" />
<link href="https://cdn.datatables.net/responsive/2.1.1/css/responsive.bootstrap.min.css" rel="stylesheet" />
<script src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.15/js/dataTables.bootstrap4.min.js "></script>

<script>
    $('#tbl10').dataTable({});
</script>