
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<div class="col-md-12 mb-4 mt-3 ml-1">
    <div class="container-fluid">
        <h3 class="mb-4 ml-1">Order Statistics</h3>
        <div class="row">
            <div class="col-lg-3 col-6">
                <div class="small-box bg-info">
                    <div class="inner">
                        <h3>@ViewBag.d1</h3>
                        <p>Total Order</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-6">
                <div class="small-box bg-success">
                    <div class="inner">
                        <h3>@ViewBag.d2</h3>
                        <p>Top Order Customer</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-6">
                <div class="small-box bg-warning">
                    <div class="inner">
                        <h3>@ViewBag.d3</h3>
                        <p>Most Ordered City</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-6">
                <div class="small-box bg-danger">
                    <div class="inner">
                        <h3>@ViewBag.d4</h3>
                        <p>Total Money Earned</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <h3 class="mb-4 ml-1">Product Statistics</h3>
        <div class="row">
            <div class="col-lg-3 col-6">
                <div class="small-box bg-info">
                    <div class="inner">
                        <h3>@ViewBag.d5</h3>
                        <p>Total Product</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-6">
                <div class="small-box bg-success">
                    <div class="inner">
                        <h3>@ViewBag.d6</h3>
                        <p>Most Expensive Product</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-6">
                <div class="small-box bg-warning">
                    <div class="inner">
                        <h3>@ViewBag.d7</h3>
                        <p>Cheapest Product</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-6">
                <div class="small-box bg-danger">
                    <div class="inner">
                        <h3>@ViewBag.d8</h3>
                        <p>Total Brand</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <h3 class="mb-4 ml-1">Stock Statistics</h3>
        <div class="row">
            <div class="col-lg-3 col-6">
                <div class="small-box bg-info">
                    <div class="inner">
                        <h3>@ViewBag.d9</h3>
                        <p>Total Stock</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-6">
                <div class="small-box bg-success">
                    <div class="inner">
                        <h3>@ViewBag.d10</h3>
                        <p>Lowest Stocked Item</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-6">
                <div class="small-box bg-warning">
                    <div class="inner">
                        <h3>@ViewBag.d11</h3>
                        <p>Highest Stocked Item</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-6">
                <div class="small-box bg-danger">
                    <div class="inner">
                        <h3>@ViewBag.d12</h3>
                        <p>Critical Stocked Items</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <h3 class="mb-4 ml-1">Mixed Statistics</h3>
        <div class="row">
            <div class="col-lg-3 col-6">
                <div class="small-box bg-info">
                    <div class="inner">
                        <h3>@ViewBag.d13</h3>
                        <p>Total Category</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-6">
                <div class="small-box bg-success">
                    <div class="inner">
                        <h3>@ViewBag.d14</h3>
                        <p>Most Owned Brand</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-6">
                <div class="small-box bg-warning">
                    <div class="inner">
                        <h3>@ViewBag.d15</h3>
                        <p>Total Role</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-6">
                <div class="small-box bg-danger">
                    <div class="inner">
                        <h3>@ViewBag.d16</h3>
                        <p>Total User</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>